.section {
  margin-top: 50px;
  padding: 20px;
  width: 350px;

  background-color: azure;
  border-radius: 10px;

  box-shadow: 14px 14px 28px #9f9f9f, -14px -14px 28px #ffffff;

  svg {
    width: 20px;
    height: 20px;
  }
}
